#contact
    .contact-wrapper
        .contact-container
            h2 Let's design digital products people will love!
            a(href="#")
                button Schedule free call
        ul
            li
                a(href="/work") Work
            li
                a(href="/about") About
            //- li
            //-     a(href="#") Resources
            li
                a(href="#") Contact
