header#nav-header
    h1.title-name 
        a(href='/') NICHOLAS DEGRATE
    #mobile
        nav
            #hamburger
                .line
                .line
                .line
            .mobile-nav-popup
                .close-btn
                        p X
                ul
                    li
                        a(href="/work") Works
                    li
                        a(href="/about") About
                    //- li
                    //-     a(href="#") Resources
                    li
                        a(href="#") Contact
    #desktop-nav
        ul
            li
                a(href="/work") Works
            li.last-child
                a(href="/about") About
            //- li.last-child
            //-     a(href="#") Resources
        a(href="#")
            button CONTACT 