header#nav-header
    h1.title-name 
        a(href='/') NICHOLAS DEGRATE

    nav
        #hamburger-container
            h3 menu
            #hamburger
                .line
                .line
        ul.nav-links
            .nav-container
                li
                    a(href="#") About
                li
                    a(href="#") Contact
                li
                    a(href="#") Projects