header#nav-header
    h1.title-name 
        a(href='/') NICHOLAS DEGRATE
    #mobile
        nav
            #hamburger-container
                h3 menu
                #hamburger
                    .line
                    .line
            .mobile-nav-popup
                .close-btn
                        p X
                ul
                    li
                        a(href="/work") Works
                    li
                        a(href="/about") About
                    li
                        a(href="#") Contact