extend layout

block body
    #about-wrapper
        .about-header
            .about-header-img
                img(src="img/newyork.jpg", alt="newyork")
            .about-header-container
                h2 About Nicholas Degrate
                h5 From New York City, New York
                p I started development because I believe that there is always a better way to do things. I'am truly passionate about experiences, user interfaces and developing the best possible digital products. In a very short time I have developed highly talented skills to help me on my journey - design the world I would like to live in.
        //- .about-content
        //-     h2 My recipe<br> for successful <br> product
        //-     ul.about-content-grid
        //-         li
        //-             h3 Design
        //-             ul
        //-                 li UI/UX design
        //-                 li Rapid prototyping
        //-                 li Websites and mobile apps
        //-         li
        //-             h3 Build
        //-             ul
        //-                 li HTML/CSS/SCSS/JS
        //-                 li React/Pug/Ejs
        //-                 li Nodejs/Python/Django
        //-         li
        //-             h3 Improve
        //-             ul
        //-                 li Usability testing
        //-                 li User session replays
        //-                 li Analytics
        .about-footer
            h2 I focus on companies that would like to:
            ul
                li Solve real problems by design &#38; proper experiences
                li Make products more human
                li Make products more sexy and desirable
                li Gain more customers
                li Raise revenue