extends layout

block body
    main
        section.page.photographer
            .project-detail
                h1 Legacy Rebuild Properties
                h3 Real Estate
                p 08/23/2020
            .center-page-left
                img(src='./img/mainbg.jpg').model-left
            .center-page-right
                img(src='./img/mainbg.jpg').model-right
            .center-info-project
                .center-info-project-container
                    .center-header-container-wrapper
                        h2 Legacy
                        p view all
            .center-info-project.center-info-project-two

        section.page.plantie
            .project-detail
                h1 Legacy Rebuild Properties
                h3 Real Estate
                p 08/23/2020
            .center-page-left
                img(src='./img/plantie.jpg').model-left
            .center-page-right
                img(src='./img/plantie.jpg').model-right
            .center-info-project
                .center-info-project-container
                    .center-header-container-wrapper
                        h2 Legacy
                        p view all
            .center-info-project.center-info-project-two

        section.page.hotel
            .project-detail
                h1 Legacy Rebuild Properties
                h3 Real Estate
                p 08/23/2020
            .center-page-left
                img(src='./img/mainbg.jpg').model-left
            .center-page-right
                img(src='./img/mainbg.jpg').model-right
            .center-info-project
                .center-info-project-container
                    .center-header-container-wrapper
                        h2 Legacy
                        p view all
            .center-info-project.center-info-project-two
        
        //- pagination section
        .pagination
            .circle.active
            .circle
            .circle