extends layout

block body
    main
        section.page.photographer
            .project-detail
                h1 Legacy Rebuild Properties
                h3 Real Estate
            .center-page-left
                img(src='./img/legacy.jpg').model-left
            .center-page-right
                img(src='./img/realestate.jpg').model-right
            a(href="https://www.legacyrebuildproperties.com/").center-link
                .center-info-project
                    .center-info-project-container
                        .center-header-container-wrapper
                            h2 Legacy
                            p view
                .center-info-project.center-info-project-two

        section.page.plantie
            .project-detail
                h1 Plantie
                h3 Ecommerce
            .center-page-left
                img(src='./img/plantleft.jpg').model-left
            .center-page-right
                img(src='./img/plantright.jpg').model-right
            a(href="https://www.legacyrebuildproperties.com/").center-link
                .center-info-project
                    .center-info-project-container
                        .center-header-container-wrapper
                            h2 Plantie
                            p view
                .center-info-project.center-info-project-two
            .outer-img
                img(src="img/sideplant.png", alt="side plant")

        section.page.hotel
            .project-detail
                h1 The juice
                h3 Ecommerce
            .center-page-left
                img(src='./img/juiceleft.jpg').model-left
            .center-page-right
                img(src='./img/juiceright.jpg').model-right
            a(href="https://www.legacyrebuildproperties.com/").center-link
                .center-info-project
                    .center-info-project-container
                        .center-header-container-wrapper
                            h2 The Juice
                            p view
                .center-info-project.center-info-project-two
        
        //- pagination section
        .pagination
            .circle.active
            .circle
            .circle