doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", type="text/css", href="default.css")
        link(rel="stylesheet", href="https://unpkg.com/swiper/css/swiper.min.css")
        title Nicholas Degrate
    body
        #main-wrapper
            include ./includes/header
            block body
            include ./includes/footer
        script(type='text/javascript', src="./js/script.js")