extend layout

block body
    #work-wrapper
        h2.name-pro Projects
        #work-container
            a(href="http://www.legacyrebuildproperties.com")
                .work-content-container.work-zero
                    img(src="img/legacy.jpg", alt="yellow")
                    h2 Legacy Rebuild Properties
            .work-content-container.work-one
                img(src="img/plantie.jpg", alt="yellow")
                h2 Plantie
            //- .work-content-container.work-two
            //-     img(src="img/mainbg.jpg", alt="yellow")
            //-     h2 Real Estate
            //- .work-content-container.work-three
            //-     img(src="img/mainbg.jpg", alt="yellow")
            //-     h2 Agency