// config
@import 'includes/config';
// font
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

// global

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
body {
    position: relative;
    line-height: 1.5;
    overflow: hidden;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
}
p {
    font-size: 1.1rem;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
button {
    outline: none;
}
// overall layout
#main-wrapper {
    height: 100%;
    font-family: 'Crimson Text', serif;
    color: color(white);
    background: #A0A09F;
    position: relative;

    .page {
        min-height: 90vh;
        max-width: 1500px;
        margin: auto;
        display: grid;
        grid-template-columns: 5% 1fr 1fr 1fr 5%;
        position: relative;

        .outer-img {
            position: absolute;
            right: 0;
            bottom: 0;
            height: 30vw;
            width: 30vw;
            img {
                object-fit: cover;
            }
        }
        // left picture
        .center-page-left {
            height: 600px;
            align-self: center;
            justify-self: center;
            -webkit-animation: action 2s infinite  alternate;
            animation: action 2s infinite  alternate;
            img {
                height: 500px;
                transition: transform 0.3s ease-out;
            }
        }
        // right picture
        .center-page-right {
            display: none;
            
        }
        // info bottom left corner
        .project-detail {
            grid-column: 2/3;
            align-self: end;
            margin-bottom: 3em;
            a {
                color: color(white);
            }
        }
        .center-link {
            display: none;
        }
    }
    .plantie, .hotel {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        opacity: 0;
        pointer-events: none;
    }
    .active-page {
        opacity: 1;
        pointer-events: all;
    }
    // ! end page class

    .pagination {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(0%,-50%);
        z-index: 10;
        height: 100px;
        width: 50px;

        .circle {
            height: 8px;
            width: 8px;
            background: #b4b4b4;
            border-radius: 50%;
            margin: 1em auto;
            cursor: pointer;
        }
        .active {
            background: #6d6d6d;
        }
    }

    // social media
    .social-media-container {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(0%,-50%);
        z-index: 10;
        height: 100px;
        width: 50px;
        padding: 1em;
        .social-img-container {
           padding: .5em;
           img {
               max-width: 25px;
               max-height: 25px;
           }
        }
    }
}
// ! loading screen
#loading {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: color(bg);
    transition: all .5s;
    .loading-circle {
        position: absolute;
        width: 20vw;
        min-width: 204px;
        min-height: 204px;
        max-width: 306px;
        max-height: 306px;
        height: 20vw;
        left: 40%;
        right: 0;
        top: 35%;
        text-align: center;
        transform: translate(-40%, -35%);
        border: 1px solid #b4b4b4;
        border-radius: 50% 45% 40%;
        cursor: pointer;
        animation: rotateRing 10s linear infinite;
    }
    .loading-circle-two {
        animation: rotateRing 10s linear infinite alternate-reverse;
    }
  }


// ! img anim
@-webkit-keyframes action {
    0% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(10px);
    }
}
@keyframes action {
    0% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(10px);
    }
}
@-webkit-keyframes rotateRing {
    form {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}
@keyframes rotateRing {
    0% {
        transform: rotate(0deg);
    } 
    100%{
        transform: rotate(360deg);
    }
}
@keyframes no-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


// media queries
@media screen and (min-width: 1500px) {
    .outer-img {
        display: none;
    }
}
@media screen and (min-width: 800px) {
    #main-wrapper {
        .page {
            grid-template-columns: 5% 1fr 1fr 1fr 1fr 1fr 5%;
        }
        // right picture
        .center-page-right {
            display: block !important;
            grid-column: 5/6;
            height: 600px;
            align-self: center;
            justify-self: center;
            -webkit-animation: action 2s infinite  alternate-reverse;
            animation: action 2s infinite  alternate-reverse;
            img {
                display: block;
                height: 500px;
                transition: transform 0.3s ease-out;
            }
        }

        // center circle info for the project
        .center-info-project {
            position: absolute;
            width: 20vw;
            min-width: 204px;
            min-height: 204px;
            max-width: 306px;
            max-height: 306px;
            height: 20vw;
            left: 40%;
            right: 0;
            top: 30%;
            text-align: center;
            transform: translate(-40%, -30%);
            border: 1px solid #b4b4b4;
            border-radius: 50% 45% 40%;
            animation: rotateRing 10s linear infinite;
        }
        .center-info-project-two {
            animation: rotateRing 10s linear infinite alternate-reverse;
            .center-info-project-container {
                width: 20vw;
                min-width: 204px;
                min-height: 204px;
                max-width: 306px;
                max-height: 306px;
                height: 20vw;
                border-radius: 50%;
                position: relative;
                // stops the text from spinning
                animation: no-spin 10s linear infinite alternate;
                .center-link {
                    color: color(white);
                    outline: none;
                    background: red;
                    display: block !important;
                }
                .center-header-container-wrapper {
                    position: absolute;
                    margin-left: auto;
                    margin-right: auto;
                    left: 0;
                    right: 0;
                    top: 50%;
                    text-align: center;
                    transform: translate(0%, -50%);
                    // .center-link {
                    //     color: color(white);
                    //     outline: none;
                    //     background: red;
                    //     display: block !important;
                    // }
                    h2 {
                        font-size: font(medium);
                        font-weight: 400;
                    }
                    p {
                        font-size: font(small);
                        font-weight: 300;
                    }
                    h2, p {
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
}


// layout import
@import 'includes/header';
@import 'includes/about';