// config
@import 'includes/config';
// font
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,200;1,300;1,400;1,600;1,700&display=swap');

// global

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
body {
    position: relative;
    line-height: 1.5;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
}
p {
    font-size: 1.1rem;
}
img {
    width: 100%;
    height: 100%;
}
button {
    outline: none;
}
// overall layout
#main-wrapper {
    font-family: 'Nunito', sans-serif;
}

// home page
#center-header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr .5fr;
    background-color: color(bg);
    // tite-info
    .title-info {
        padding: 8em 1em 0em 1em;
        width: 90%;
        max-width: $maxWidth ;
        margin: 0 auto 3em;
        display: grid;
        grid-template-columns: repeat(1fr);
        h2 {
            color:color(white);
            font-size: 2rem;
            font-weight: 300;
        }
        h5 {
            font-weight: 200;
            color: color(accentThree);
            margin-bottom: .5em;
        }
        p {
            font-size: 1.4rem;
            font-weight: 200;
            width: 90%;
            max-width: 400px;
            color: rgb(182, 182, 182);
        }
    }
    .title-img {
        position: relative;

        .img-mobile {
            height: 100%;
            width: 100%;
            max-width: 400px;
        }
    }
    .social-media {
        height: 100px;
        width: 90%;
        max-width: $maxWidth ;
        margin: auto;
        ul {
            display: flex;
            align-items: center;
        }
        li {
            height: 30px;
            width: 30px;
            margin-right: 1em;
        }
        .project-link {
            color: color(white);
            font-size: 1.3em;
            font-weight: 200;
            position: relative;
            // hover affect
            &:before {
                position: absolute;
                display: block;
                height: 3%;
                width: 0%;
                content: '';
                bottom: 0;
                left: 0;
                background-color: color(accentThree);
                opacity: .7;
            }
            // expands the box around the link
            &:hover:before {
                width: 100%;
                transition: all .3s ease-in;
            }
        }
        img {
            width: 100%;
            height: 100%;
        }
    }
    
}
// content-info
.content-info {
    width: 90%;
    height: 100%;
    min-height: 300px;
    max-width: $maxWidth;
    margin: 6em auto 0;
    padding: 0em 1em 0em 1em;
    p {
        color: color(mainColor);
        font-size: 400;
        width: 100%;
        max-width: 500px;
        margin-bottom: 2em;
        text-align: start;

    }
    a {
        width: 100%;

        button {
            cursor: pointer;
            margin-top: 2em;
            padding: .8em 2em;
            background-color: rgb(48, 48, 48);
            color: color(white);
            border: 1px solid rgb(48, 48, 48);
            border-radius: 5px;
            font-size: .8em;
            &:hover {
                background-color: color(white);
                transition: .5s;
                color: color(bg);
                border: 1px solid rgb(48, 48, 48);
            }
        }
    }
}

// work
#work {
    position: relative;
    height: 100%;
    .work-img-container {
        img {
            height: 70vh;
            max-height: 800px;
            width: 100%;
            object-fit: cover;
        }
    }

    // work-info
    .work-info-container {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        top: 5%;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        color: color(white);
        h2 {
            font-size: font(large) + .5em;
            font-weight: 300;
        }
        p {
            font-size: 1em;
            font-size: 200;
            max-width:300px;
            margin: auto;
        }
        .work-info-img {
            height: 50%;
            width: 80%;
            max-width: 500px;
            margin: auto;
            position: relative;
            margin-bottom: 1em;
            img {
                border-radius: 20px;
                object-fit: cover;
                box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, .2);
            }
            h3 {
                position: absolute;
                margin-left: auto;
                margin-right: auto;
                top: 30%;
                bottom: 0;
                left: 0;
                right: 0;
                text-align: center;
                font-size: font(large) + 2em;
                color: color(accentTwo);
                box-shadow: 5px 5px 1px 0 rgba(0, 0, 0, .2);
                span {
                    color: #8BBA74;
                }
            }
        }
        a {
            width: 100%;
    
            button {
                cursor: pointer;
                margin-top: 1em;
                padding: .8em 2em;
                background-color: color(accentTwo);
                color: color(white);
                border: 1px solid color(accentTwo);
                border-radius: 5px;
                font-size: 1em;
                &:hover {
                    background-color: transparent;
                    transition: .5s;
                    color: color(white);
                    border: 1px solid color(accentTwo);
                }
            }
        }
    }
}

// product
#product {
    height: 100%;
    width: 100%;
    background-color: color(accentOne);
    color: color(white);
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 20% 1fr;
    
    .product-main-container {
        margin: auto;
        width: 80%;
        max-width: $maxWidth;
    }
    .product-title {
        width: 90%;
        max-width: 900px;
        margin: 3em .5em 1em;
        font-size: 1.8em;
        h2 {
            font-weight: 300;
            margin: 0 0 auto;
        }
    }
    // product-wrapper 
    .product-wrapper {
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: repeat(6, 1fr);

        .product-container {
            cursor: pointer;
            width: 85%;
            max-width: 900px;
            padding: 1em;
            margin: 1em;
            background-color: color(accentTwo);
            h3 {
                font-weight: 400;
            }
            p {
                color: #91A49F;
                font-size: 1em;
                font-weight: 200;
                &:hover {
                    color: color(white);
                    transition: all .3s ease .2s;
                }
            }
            a {
                color: #30E6B5;
                font-weight: 200;
            }
        }
    }
}
#testimony {
    height: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
        font-size: font(large);
    }
    li {
        display: inline-block;
        font-size: font(medium);
    }
}
#contact {
    height: 100%;
    background-color: color(mainColor);
    color: color(white);
    padding: 1em;
    h2 {
        max-width: 450px;
        margin-top: 2em;
        font-size: font(large);
    }
    a {
        width: 100%;

        button {
            cursor: pointer;
            margin-top: 1em;
            padding: .8em 2em;
            background-color: color(accentThree);
            color: color(bg);
            border: 1px solid color(accentThree);
            border-radius: 5px;
            font-size: 1em;
            &:hover {
                background-color: transparent;
                transition: .5s;
                color: color(light);
                border: 1px solid color(accentThree);
            }
        }
    }
    ul {
        margin: 3em 0;
        li {
            margin: 1.5em 0;
            a {
                padding-bottom: .2em;
                color: color(white);
                font-size: font(medium);
                border-bottom: 1px solid color(white);
            
                &:hover {
                    transition: .5s;
                    color: color(accentThree);
                    border-bottom: 1px solid color(accentThree);
                }
            }
        }
    }
}
@media screen and (min-width: 400px) {
    .title-info {
        justify-content: center;
        .title-text {
            margin-bottom: 2em;
        }
    }
}
// media 
@media screen and (min-width: 800px) {
    .title-info {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;

        .title-text {
            align-self: center;
        }
    }
    // work-info
    .work-info-container {
        top: 15%;
    }
    .contact-wrapper {
        width: 90%;
        max-width: 600px;
        margin: 0 auto;
        .contact-container {
            text-align: center;
            h2 {
                margin: auto;
            }
        }
        ul {
            max-width: 600px;
            margin: auto;
            text-align: center;
            li {
                display: inline-block;

                a {
                    margin: 1em;
                }
            }
        }
    }
}
@media screen and (min-width: screen(tablet)) {
    // title 
    .title-info {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        .title-text {
            align-self: center;
        }
        .title-img {
            position: relative;
            .img-mobile {
                display: none;
            }
            .slice {
                position: absolute;
                width: 250px;
                height: 400px;
            }
            .img-right {
                top: -50%;
                left: 0;
                display: block;
                background: url('img/mainbg.jpg');
                background-position: -30% 20% ;
                background-size: cover;
                background-repeat: no-repeat;
            }
            .img-left {
                top: -30%;
                left: 50%;
                background: url('img/mainbg.jpg') ;
                background-position: 128% 20%;
                background-size: cover;
                background-repeat: no-repeat;
    
            }
        }
    
    }
    .content-info {
        text-align: center;
        p {
            margin: 0 auto;
            text-align: center;
        }
        
    }

    // product
    #product {
        grid-template-columns: 1fr ;
        grid-template-rows: 20% 1fr;
        
        .product-title {
            margin: 3em 1em 4em;
            h2 {
                font-weight: 400;
                font-size: font(large);
            }
        }
        // product-wrapper 
        .product-wrapper {
            display: grid;
            grid-template-columns: repeat(5, 1fr) ;
            grid-template-rows: 1fr;
            margin: 1em auto 8em;
            .product-container {
                background: none;
                h3 {
                    font-weight: 400;
                    font-size: font(medium) - .2em;
                    margin: .5em 0;
                }
                a{
                    display: none;
                }
            }
        }
    }

}
// layout import
@import 'includes/header';
@import 'includes/about';
@import 'includes/work';