#about-wrapper {
    height: 90vh;
    width: 90%;
    max-width: 1300px;
    margin: auto;
    .about-header {
        margin: 4em 0;
    }
    .about-header-img {
        max-width: 500px;
        margin: auto;
    }
    .about-header-container {
        max-width: 500px;
        margin: auto;
    }
    .about-footer {
        max-width: 500px;
        margin: auto;
        h2 {
            max-width: 500px;
        }
        ul {
            max-width: 500px;
            width: 90%;
            margin: auto;
        }
        li {
            list-style-type: disc;
        }
    }
}
@media screen and (min-width: 700px) {
    
    #about-wrappper {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .about-header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;

        .about-header-container {
            padding: 1em;
        }
    }
    .about-footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        margin:0 !important;
        width: 100%;
        max-width: 1300px !important;
        h2 {
            justify-self: center;
            align-self: center;
        }
    }
}