// header
#nav-header {
    min-height: 10vh;
    max-width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    // title name
    .title-name {
        font-weight: 500;
        font-size: font(medium);
        a {
            color: color(white);
        }
    }

    // hamburger icon
    #hamburger-container {
        height: 1.3em;
        display: flex;
        align-items: center;
        h3 {
            margin-top: .5em;
            padding: .5em;
            text-transform: uppercase;
            font-size: font(small) - .2em;
            letter-spacing: .5em;
            cursor: pointer;
            align-self: center;
        }
        #hamburger {
            align-self: end;
            width: 1.5em;
            cursor: pointer;
            // individual lines
            .line {
                background: color(white);
                height: 2px;
                width: 100%;
                margin: .3em 0;
            }
        }
    }
    // popup mobile/tablet nav
    .mobile-nav-popup {
        position: absolute;
        display: none;
        height: 100%;
        width: 100%;
        z-index: 2;
        top:0;
        left: 0;
        background-color: color(accentTwo);
        overflow: hidden;
        // x icon
        .close-btn {
            height: 2%;
            background-color: color(accentOne);
            position: relative;
            p {
                cursor: pointer;
                position: absolute;
                top: 20%;
                right: 5%;
                font-size: font(medium);
                color: color(white);
                font-weight: 200;
            }
        }

        // mobile links
        ul {
            height: 80%;
            width: 80%;
            padding: 1em 2em 2em;

            li {
                width: 100%;
                margin: 2em 0;
                font-size: font(large);
                // animate in
                &:nth-child(1) {
                    transition: all 0.5s ease 0.2s;
                }
                &:nth-child(2) {
                    transition: all 0.5s ease 0.4s;
                }
                &:nth-child(3) {
                    transition: all 0.5s ease 0.6s;
                }
                &:nth-child(4) {
                    transition: all 0.5s ease 0.8s;
                }


                a{  
                    font-weight: 200;
                    margin-left: .3em;
                    color: color(bg);
                    position: relative;
                    // hover affect
                    &:before {
                        position: absolute;
                        display: block;
                        height: 100%;
                        width: 0%;
                        content: '';
                        top: 0;
                        left: -.3em;
                        background-color:rgb(190, 177, 162);
                        opacity: .3;
                    }
                    // expands the box around the link
                    &:hover:before {
                        width: 150%;
                        transition: all .3s ease-in;
                    }
                }
            }
        }
    }
}

// media 
@media screen and (min-width: screen(tablet)) {
    #nav-header {
        padding: 0 3em;
    }
}