// header
#nav-header {
    min-height: 10vh;
    max-width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    // title name
    .title-name {
        font-weight: 500;
        font-size: font(medium);
        a {
            color: color(white);
        }
    }

    // hamburger icon
    #hamburger-container {
        height: 1.3em;
        display: flex;
        align-items: center;
        position: absolute;
        top: 4.5%;
        right: 5%;
        transform: translate(-4.5%, -5%);
        z-index: 60;
        h3 {
            padding: .5em;
            text-transform: uppercase;
            font-size: font(small) - .2em;
            letter-spacing: .5em;
            cursor: pointer;
            align-self: center;
        }
        #hamburger {
            align-self: end;
            width: 1.5em;
            cursor: pointer;
            // individual lines
            .line {
                background: color(white);
                height: 2px;
                width: 100%;
                margin: .3em 0;
            }
        }
    }
    // popup mobile/tablet nav
    ul {
        position: absolute;
        top: 0;
        left: 0%;
        z-index: 50;
    }
    .nav-links {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #A0A09F;
        height: 200vh;
        width: 120%;
        flex-direction: column;
        clip-path: circle(0px at 90% -0%);
        -webkit-clip-path: circle(0px at 90% -0%);
        transition: all 1s ease-out;
        pointer-events: none;
        // this is circle nav
        .nav-container {
            position: absolute;
            width: 20vw;
            min-width: 204px;
            min-height: 204px;
            max-width: 306px;
            max-height: 306px;
            height: 20vw;
            left: 40%;
            right: 0;
            top: 20%;
            text-align: center;
            transform: translate(-40%, -20%);
            -webkit-transform: translate(-40%, -20%);
            -moz-transform: translate(-40%, -20%);
            -ms-transform: translate(-40%, -20%);
        }
        li {
            opacity: 0;
            margin: 1em;
        }
        li a {
            color: color(white);
            text-decoration: none;
            font-size: 2em;
            text-transform: uppercase;
        }
        li.fade {
            opacity: 1;
        }
        .nav-links-text {
            color: #444444;
            font-size: 2.5em;
        }
    }
    .nav-links.open {
        clip-path: circle(100% at 90% -10%);
        -webkit-clip-path: circle(100% at 90% -10%);
        pointer-events: all;
    }
}

// media 
@media screen and (min-width: screen(tablet)) {
    #nav-header {
        padding: 0 3em;
    }
}