#work-wrapper {
    // background: color(bg);
    min-height: 100vh;
    // color: color(white);
    padding-top: 10em;
    padding-bottom: 10em;
    h2 {
        text-align: center;
        font-size: font(large) + 1em;
        font-weight: 200;
        max-width: $maxWidth + 200px;
        margin: 0 auto;
    }
    #work-container {
        display: grid;
        grid-template-columns:1fr;
        grid-template-rows:1fr 1fr;
        max-width: $maxWidth + 200px;
        margin: 0 auto;
        a {
            outline: none;
        }
        .work-content-container {
            margin: 3em 0;
            h2 {
                font-weight: 300;
                margin: .5em 0;
                font-size: font(medium);
                color: color(mainColor);
            }
            img {
                object-fit: cover;
                max-width: 450px;
                opacity: .9;
            }
        }
        
    }
}
@media screen and (min-width: 600px) {
    #work-container {
        grid-template-columns:1fr 1fr;
        grid-template-rows:1fr 1fr 1fr 1fr;
        .work-content-container {
            position: relative;
            h2 {
                position: absolute;
                margin: 0;
            }
        }
        .work-zero, .work-two {
            h2 {
                top: 40%;
                left: 20rem;
            } 
        }
         .work-two {
            h2 {
                top: 40%;
                left: 24rem;
            } 
        }
        .work-one, .work-three {
            justify-self: end;
            h2 {
                top: 40%;
                left: -10%;
            }
        }
    }
}
@media screen and (min-width: screen(tablet)) {
    #work-container {
        .work-zero {
            height: 100%;
        }
        .work-one, .work-two, .work-three{
            height:100%;
            margin-top: -150px !important;
        }
    }
}